html {
    height: 100%;
}

body {
    font-family: var(--font-family);
    background-color: var(--surface-ground);
    color: var(--text-color);
    font-size: inherit;
    padding: 0;
    margin: 0;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body.overlay-is-active {
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

// hide outline when using a mouse but not when using a keyboard
// https://github.com/WICG/focus-visible
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}
