@use "sass:map";
:root {
    font-size: var(--font-size);
}

$type-large-headline: (
    "default": (
        "values": (
            "font-family": var(--font-family-header),
            "font-size": var(--font-size-20),
            "line-height": var(--font-size-20),
            "font-weight": var(--fontWeight-400),
            "letter-spacing": -1px,
            "color": var(--text-color),
        ),
    ),
    $medium: (
        "values": (
            "font-size": var(--font-size-12),
            "line-height": var(--font-size-12),
        ),
    ),
);
$type-headline: (
    "default": (
        "values": (
            "font-family": var(--font-family-header),
            "font-size": var(--font-size-12),
            "line-height": var(--font-size-12),
            "font-weight": var(--fontWeight-500),
            "letter-spacing": -1px,
            "color": var(--text-color),
        ),
    ),
    $medium: (
        "values": (
            "font-size": var(--font-size-8),
            "line-height": var(--font-size-8),
        ),
    ),
);
$type-subhead: (
    "default": (
        "values": (
            "font-family": var(--font-family-header),
            "font-size": var(--font-size-10),
            "line-height": var(--font-size-12),
            "font-weight": var(--fontWeight-500),
            "letter-spacing": -0.5px,
            "color": var(--text-color),
        ),
    ),
);

$type-eyebrow: (
    "default": (
        "values": (
            "font-family": var(--font-family),
            "font-size": var(--font-size-5),
            "line-height": var(--font-size-6),
            "font-weight": var(--fontWeight-400),
            "letter-spacing": -0.5px,
            "color": var(--text-color),
            "text-transform": uppercase,
        ),
    ),
);
$type-eyebrow-big: (
    "default": (
        "values": (
            "font-family": var(--font-family),
            "font-size": var(--font-size-6),
            "line-height": var(--font-size-9),
            "font-weight": var(--fontWeight-400),
            "letter-spacing": -0.5px,
            "color": var(--text-color),
            "text-transform": uppercase,
        ),
    ),
);

$type-body: (
    "default": (
        "values": (
            "font-family": var(--font-family),
            "font-size": var(--font-size-6),
            "line-height": var(--font-size-11),
            "font-weight": var(--fontWeight-400),
            "color": var(--text-color),
        ),
    ),
);

$type-footer: (
    "default": (
        "values": (
            "font-size": var(--font-size-4),
            "line-height": normal,
        ),
    ),
);

h1,
.h1,
.type-large-headline {
    @include font-config($type-large-headline);
}

h2,
.h2,
.type-headline {
    @include font-config($type-headline);
}

h3,
.h3,
.type-subhead {
    @include font-config($type-subhead);
}

h4,
.h4,
.type-eyebrow-big {
    @include font-config($type-eyebrow-big);
}

h5,
.h5,
.type-eyebrow {
    @include font-config($type-eyebrow);
}

ul,
ol {
    padding-left: 1rem;
    li {
        @include font-config($type-body);
    }
}

p,
.p .type-body {
    @include font-config($type-body);
}

.footer {
    @include font-config($type-footer);
}

// special configs below
