/* Customizations to the designer theme should be defined here */
:root,
[data-style-mode='light'],
.style-mode-light {
    --v-input-switch-border-color: var(--shade-300);
}
[data-style-mode='dark'],
.style-mode-dark {
}

.p-inputtext:enabled:focus {
    box-shadow: none !important;
}
.p-inputtext::placeholder {
    color: var(--secondary);
}
.p-inputtext.p-invalid.p-component {
    border-width: 2px;
}

.p-inputswitch .option {
    font-weight: var(--font-weight-700);
}
.p-inputswitch .p-inputswitch-slider {
    background: var(--background2);
    box-shadow: none !important;
}

.p-error {
    font-family: var(--font-family-header);
    font-weight: var(--font-weight-500);
}

.p-button {
    font-weight: var(--font-weight-700);
}

form {
    label {
        font-family: 'ff-meta-web-pro';
        font-size: 0.813rem;
    }
}

.p-message {
    font-family: 'ff-meta-web-pro';
    font-size: 0.813rem;
    border: none !important;
    border-radius: 0;
    .p-message-wrapper {
        justify-content: center;
        .p-message-text {
            font-size: 14px;
        }
        .p-message-icon {
            width: 1.25rem;
            height: 1.25rem;
        }
    }
    .p-message-close.p-link {
        margin-left: unset;
        width: 30px;
        height: 30px;
    }
}

.p-password {
    .p-inputtext {
        width: 100%;
    }
}

.p-dialog .p-dialog-header {
    padding: 1.5rem;
    .p-dialog-header-icon,
    .p-dialog-header-icon .p-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.p-dialog .p-dialog-content {
    padding: 0 1.5rem 1.5rem 1.5rem;
}
