@use 'sass:map';
:root {
    font-size: var(--font-size);
}
// use the font size scale reference helper in the README to set the font size
$type-header1: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-10),
            'line-height': var(--font-size-12),
            'font-weight': var(--font-weight-700),
            'color': var(--text-color),
        ),
    ),
    $medium: (
        'values': (
            'font-size': var(--font-size-10),
            'line-height': var(--font-size-12),
        ),
    ),
);
$type-header2: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-6),
            'line-height': var(--font-size-8),
            'font-weight': var(--font-weight-700),
            'color': var(--text-color),
        ),
    ),
    $medium: (
        'values': (
            'font-size': var(--font-size-6),
            'line-height': var(--font-size-8),
        ),
    ),
);
$type-header3: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-5),
            'line-height': var(--font-size-7),
            'font-weight': var(--font-weight-700),
            'color': var(--text-color),
        ),
    ),
    $medium: (
        'values': (
            'font-size': var(--font-size-5),
            'line-height': var(--font-size-7),
        ),
    ),
);

// $type-header4: (
//     'default': (
//         'values': (
//             'font-family': var(--font-family-header),
//             'font-size': var(--font-size-10),
//             'line-height': var(--font-size-10),
//             'font-weight': var(--font-weight-600),
//             'letter-spacing': -0.02em,
//             'color': var(--text-color),
//         ),
//     ),
//     $medium: (
//         'values': (
//             'font-size': var(--font-size-7),
//             'line-height': var(--font-size-7),
//             'letter-spacing': -0.01em,
//         ),
//     ),
// );

// $type-header5: (
//     'default': (
//         'values': (
//             'font-family': var(--font-family-header),
//             'font-size': var(--font-size-8),
//             'line-height': var(--font-size-9),
//             'font-weight': var(--font-weight-600),
//             'letter-spacing': -0.02em,
//             'color': var(--text-color),
//         ),
//     ),
//     $medium: (
//         'values': (
//             'font-size': var(--font-size-6),
//             'line-height': var(--font-size-7),
//             'letter-spacing': -0.01em,
//         ),
//     ),
// );

// $type-header6: (
//     'default': (
//         'values': (
//             'font-family': var(--font-family-header),
//             'font-size': var(--font-size-6),
//             'line-height': var(--font-size-7),
//             'font-weight': var(--font-weight-600),
//             'letter-spacing': -0.02em,
//             'color': var(--text-color),
//         ),
//     ),
//     $medium: (
//         'values': (
//             'font-size': var(--font-size-5),
//             'line-height': var(--font-size-6),
//             'letter-spacing': -0.01em,
//         ),
//     ),
// );

// $type-header7: (
//     'default': (
//         'values': (
//             'font-family': var(--font-family),
//             'font-size': var(--font-size-6),
//             'line-height': var(--font-size-8),
//             'font-weight': var(--font-weight-500),
//             'color': var(--text-color),
//         ),
//     ),
//     $medium: (
//         'values': (
//             'font-size': var(--font-size-5),
//             'line-height': var(--font-size-7),
//         ),
//     ),
// );

$type-paragraph1: (
    'default': (
        'values': (
            'font-family': var(--font-family),
            'font-size': 0.8125rem,
            'line-height': var(--font-size-7),
            'font-weight': var(--font-weight),
            'color': var(--text-color),
        ),
    ),
    $medium: (
        'values': (
            'font-size': 0.8125rem,
            'line-height': var(--font-size-7),
        ),
    ),
);

$type-fineprint: (
    'default': (
        'values': (
            'font-family': var(--font-family),
            'font-size': 0.6875rem,
            'line-height': var(--font-size-4),
            'font-weight': var(--font-weight),
            'color': var(--text-color),
        ),
    ),
    $medium: (
        'values': (
            'font-size': 0.6875rem,
            'line-height': var(--font-size-4),
        ),
    ),
);

h1,
.h1,
.type-header1 {
    @include font-config($type-header1);
}

h2,
.h2,
.type-header2 {
    @include font-config($type-header2);
}

h3,
.h3,
.type-header3 {
    @include font-config($type-header3);
}

// h4,
// .h4,
// .type-header4 {
//     @include font-config($type-header4);
// }

// h5,
// .h5,
// .type-header5 {
//     @include font-config($type-header5);
// }

// h6,
// .h6,
// .type-header6 {
//     @include font-config($type-header6);
// }

// h7,
// .h7,
// .type-header7 {
//     @include font-config($type-header7);
// }

p,
.p1,
.type-paragraph1 {
    @include font-config($type-paragraph1);
}

.type-fineprint {
    @include font-config($type-fineprint);
}

ul,
ol {
    padding-left: 1rem;
    li {
        @include font-config($type-paragraph1);
    }
}
