:root,
[data-style-mode='light'],
.style-mode-light {
    --v-input-switch-text-color: shade700;
    --v-input-switch-text-yes-color: var(--primary-text-color);
    --v-input-switch-border-color: transparent;
    --v-input-switch-slider-size: 0.825rem;
    --v-input-switch-padding-buffer: 5px;
    --v-input-switch-transition-duration: var(--transition-duration);
    --v-input-switch-border-radius: 30px;
}
[data-style-mode='dark'],
.style-mode-dark {
}
