:root,
[data-style-mode='light'],
.style-mode-light {
    --persistent-player-height: 100px;
    --persistent-player-padding: 8px 16px 8px 8px;
    --persistent-player-height-buffer: 20px;
    --persistent-player-bg: #f1f1f1;
    --persistent-player-minimize-btn-color: #000;
    --persistent-player-minimize-btn-bg: var(--persistent-player-bg);
    --persistent-player-minimize-btn-bg-hover: #a6a6a6;
    --persistent-player-maximize-btn-color: #000;
    --persistent-player-maximize-btn-bg: var(--persistent-player-bg);
    --persistent-player-maximize-btn-bg-hover: #a6a6a6;
    --persistent-player-z-index: var(--z-index-10);

    --persistent-player-live-indicator-bg: var(--text-color);
    --persistent-player-live-indicator-color: #fff;

    --persistent-player-text-button-color: var(--text-color);
    --persistent-player-text-button-color-hover: inherit;
    --persistent-player-text-button-radius: 15px;

    --persistent-player-play-button-width: 40px;
    --persistent-player-play-button-height: 40px;
    --persistent-player-play-button-radius: 20px;

    --persistent-player-title-size: var(--font-size-9);
    --persistent-player-title-weight: 400;
    --persistent-player-title-color: var(--text-color);
    --persistent-player-title-decoration: none;
    --persistent-player-title-hover-decoration: underline;
}
[data-style-mode='dark'],
.style-mode-dark {
    --persistent-player-bg: #2f2f2f;
    --persistent-player-minimize-btn-bg: var(--persistent-player-bg);
    --persistent-player-minimize-btn-color: #fff;
    --persistent-player-maximize-btn-bg: var(--persistent-player-bg);
    --persistent-player-maximize-btn-color: #fff;
    --persistent-player-live-indicator-bg: #fff;
    --persistent-player-live-indicator-color: #000;
    --persistent-player-text-button-color: #d9d9d9;
    --persistent-player-text-button-color-hover: #fff;
    --persistent-player-title-color: var(--text-color);
}
