THEME=default
VITE_VUE_APP_THEME=${THEME}
STORYBOOK_THEME=${THEME}
STORYBOOK_EDIT=false

VUE_APP_EDITOR=code
VUE_APP_THEME_BUILDER_URL=https://www.primefaces.org/themegen-vue
IMAGE_BASE_URL=https://cms.prod.nypr.digital/images/

environment=prod
NUXT_ENV_SUPABASE_URL=https://subDomainHere.supabase.co
NUXT_ENV_SUPABASE_KEY=supabaseKeyHere
NUXT_ENV_SUPABASE_AUTH_SIGN_IN_REDIRECT_TO=http://localhost:3000
NUXT_ENV_SUPABASE_AUTH_TOKEN_NAME=supabaseAuthTokenHere