.gitignore
.circleci/

# Dev stuff

.eslintrc.js
.prettier*
*.config.js
*.config.ts
index.html
jest.*

v2/src/tests/
v2/stories

public/
pages/
layouts/
.storybook/

src/components/
src/router/
src/service/

src/*.vue
src/*.scss
src/*.js

