@mixin truncate() {
    -webkit-line-clamp: 1;
    display: -webkit-box;
    position: relative;
    background: inherit;
    -webkit-box-orient: vertical;
    word-break: var(--word-break, "none");
    overflow: hidden;
    hyphens: auto;

    // fade text's last word, if clamped ()
    &::after {
        content: "";
        height: 2ch;
        position: absolute;
        bottom: 0;
        right: 0;
        pointer-events: none;
        //background: linear-gradient(90deg, transparent, var(--bg));
        background: inherit; // it's easier to work with inheritance
        mask-image: linear-gradient(to left, black, transparent);
        transition: 0.2s;
        width: 3em;
    }
    &.t2lines {
        -webkit-line-clamp: 2;
    }
    &.t3lines {
        -webkit-line-clamp: 3;
    }
    &.t4lines {
        -webkit-line-clamp: 4;
    }
    &.t5lines {
        -webkit-line-clamp: 5;
    }
    &.t6lines {
        -webkit-line-clamp: 6;
    }
    &.t7lines {
        -webkit-line-clamp: 7;
    }
}

.truncate {
    @include truncate();
}
@mixin t2lines() {
    -webkit-line-clamp: 2;
}
@mixin t3lines() {
    -webkit-line-clamp: 3;
}
@mixin t4lines() {
    -webkit-line-clamp: 4;
}
@mixin t2lines() {
    -webkit-line-clamp: 5;
}
@mixin t3lines() {
    -webkit-line-clamp: 6;
}
@mixin t4lines() {
    -webkit-line-clamp: 7;
}
