// Common Breakpoints
// if you want to update these breakpoint, clone & setup  https://github.com/primefaces/primeflex
// then update the _variables.scss file with the new breakpoints
// then run "npm run build-lib"
// a new "primeflex.min.css" file will be generated in the "dist" folder
// copy and replace the new "primeflex.min.css" file in the "src/assets/library" folder
//
$xsmall: 375px;
$xs: 375px;
$small: 576px;
$sm: 576px;
$medium: 768px;
$md: 768px;
$large: 992px;
$lg: 992px;
$xlarge: 1200px;
$xl: 1200px;
$xxlarge: 1366px;
$xxl: 1366px;
$xxxlarge: 1920px;
$xxxl: 1920px;
$max: 7680px;

$breakpoints: (
    'phone': $xsmall,
    'tablet': $medium,
    'desktop': $xlarge,
    'xsmall': $xsmall,
    'xs': $xsmall,
    'small': $small,
    'sm': $small,
    'medium': $medium,
    'md': $medium,
    'large': $large,
    'lg': $large,
    'xlarge': $xlarge,
    'xl': $xlarge,
    'xxlarge': $xxlarge,
    'xxl': $xxlarge,
    'xxxlarge': $xxxlarge,
    'xxxl': $xxxlarge,
    'max': $max,
);
