/* @font-face {
    font-family: "Matter";
    src: local("Matter-Bold.woff2") format("woff2"),
        local("Matter-Bold.woff") format("woff"),
        local("Matter-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Matter";
    src: local("Matter-BoldItalic.woff2") format("woff2"),
        local("Matter-BoldItalic.woff") format("woff"),
        local("Matter-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Matter";
    src: local("Matter-SemiBold.woff2") format("woff2"),
        local("Matter-SemiBold.woff") format("woff"),
        local("Matter-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
} */

/* @font-face {
    font-family: "Matter";
    src: local("Matter-MediumItalic.woff2") format("woff2"),
        local("Matter-MediumItalic.woff") format("woff"),
        local("Matter-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
} */

/* @font-face {
    font-family: "Matter";
    src: local("Matter-Heavy.woff2") format("woff2"),
        local("Matter-Heavy.woff") format("woff"),
        local("Matter-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
} */
/* 
@font-face {
    font-family: "Matter";
    src: local("Matter-LightItalic.woff2") format("woff2"),
        local("Matter-LightItalic.woff") format("woff"),
        local("Matter-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
} */

// @font-face {
//     font-family: 'Matter';
//     src: url('Matter-BoldItalic.eot');
//     src: local('Matter Bold Italic'), local('Matter-BoldItalic'),
//         url('Matter-BoldItalic.eot?#iefix') format('embedded-opentype'),
//         url('Matter-BoldItalic.woff2') format('woff2'),
//         url('Matter-BoldItalic.woff') format('woff'),
//         url('Matter-BoldItalic.ttf') format('truetype');
//     font-weight: bold;
//     font-style: italic;
// }

@font-face {
    font-family: "Matter";
    src: local("Matter-Medium.woff2") format("woff2"), local("Matter-Medium.woff") format("woff"),
        local("Matter-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* @font-face {
    font-family: "Matter";
    src: local("Matter-SemiBoldItalic.woff2") format("woff2"),
        local("Matter-SemiBoldItalic.woff") format("woff"),
        local("Matter-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
} */

/* @font-face {
    font-family: "Matter";
    src: local("Matter-HeavyItalic.woff2") format("woff2"),
        local("Matter-HeavyItalic.woff") format("woff"),
        local("Matter-HeavyItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
} */

/* @font-face {
    font-family: "Matter";
    src: local("Matter-Light.woff2") format("woff2"),
        local("Matter-Light.woff") format("woff"),
        local("Matter-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
} */

@font-face {
    font-family: "Matter";
    src: local("Matter-Regular.woff2") format("woff2"), local("Matter-Regular.woff") format("woff"),
        local("Matter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: "Matter";
    src: local("Matter-RegularItalic.woff2") format("woff2"),
        local("Matter-RegularItalic.woff") format("woff"),
        local("Matter-RegularItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
} */
