@font-face {
    font-family: 'Haffer SQ XH';
    src: local('HafferSQXH-Regular.woff2') format('woff2'), local('HafferSQXH-Regular.woff') format('woff'),
        local('HafferSQXH-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Haffer SQ XH';
    src: local('HafferSQXH-RegularItalic.woff2') format('woff2'), local('HafferSQXH-RegularItalic.woff') format('woff'),
        local('HafferSQXH-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Haffer SQ XH';
    src: local('HafferSQXH-Medium.woff2') format('woff2'), local('HafferSQXH-Medium.woff') format('woff'),
        local('HafferSQXH-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Haffer SQ XH';
    src: local('HafferSQXH-SemiBold.woff2') format('woff2'), local('HafferSQXH-SemiBold.woff') format('woff'),
        local('HafferSQXH-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Reckless Neue';
    src: local('RecklessNeue-Regular.woff2') format('woff2'), local('RecklessNeue-Regular.woff') format('woff'),
        local('RecklessNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Reckless Neue';
    src: local('RecklessNeue-RegularItalic.woff2') format('woff2'),
        local('RecklessNeue-RegularItalic.woff') format('woff'),
        local('RecklessNeue-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Reckless Neue';
    src: local('RecklessNeue-Medium.woff2') format('woff2'), local('RecklessNeue-Medium.woff') format('woff'),
        local('RecklessNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
