@font-face {
    font-family: 'Haffer SQ';
    src: local('HafferSQ-Regular.woff2') format('woff2'), local('HafferSQ-Regular.woff') format('woff'),
        local('HafferSQ-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Haffer SQ';
    src: local('HafferSQ-RegularItalic.woff2') format('woff2'), local('HafferSQ-RegularItalic.woff') format('woff'),
        local('HafferSQ-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Haffer SQ';
    src: local('HafferSQ-Medium.woff2') format('woff2'), local('HafferSQ-Medium.woff') format('woff'),
        local('HafferSQ-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Haffer SQ';
    src: local('HafferSQ-SemiBold.woff2') format('woff2'), local('HafferSQ-SemiBold.woff') format('woff'),
        local('HafferSQ-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Reckless Neue';
    src: local('RecklessNeue-Regular.woff2') format('woff2'), local('RecklessNeue-Regular.woff') format('woff'),
        local('RecklessNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Reckless Neue';
    src: local('RecklessNeue-RegularItalic.woff2') format('woff2'),
        local('RecklessNeue-RegularItalic.woff') format('woff'),
        local('RecklessNeue-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Reckless Neue';
    src: local('RecklessNeue-Medium.woff2') format('woff2'), local('RecklessNeue-Medium.woff') format('woff'),
        local('RecklessNeue-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
