/* @font-face {
    font-family: "Matter";
    src: url("~/src/assets/themes/radiolab/fonts/Matter-Bold.woff2") format("woff2"),
        url("~/src/assets/themes/radiolab/fonts/Matter-Bold.woff") format("woff"),
        url("~/src/assets/themes/radiolab/fonts/Matter-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Matter";
    src: url("~/src/assets/themes/radiolab/fonts/Matter-BoldItalic.woff2") format("woff2"),
        url("~/src/assets/themes/radiolab/fonts/Matter-BoldItalic.woff") format("woff"),
        url("~/src/assets/themes/radiolab/fonts/Matter-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Matter";
    src: url("~/src/assets/themes/radiolab/fonts/Matter-SemiBold.woff2") format("woff2"),
        url("~/src/assets/themes/radiolab/fonts/Matter-SemiBold.woff") format("woff"),
        url("~/src/assets/themes/radiolab/fonts/Matter-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
} */

@font-face {
    font-family: "Matter";
    src: url("~/src/assets/themes/radiolab/fonts/Matter-MediumItalic.woff2") format("woff2"),
        url("~/src/assets/themes/radiolab/fonts/Matter-MediumItalic.woff") format("woff"),
        url("~/src/assets/themes/radiolab/fonts/Matter-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

/* @font-face {
    font-family: "Matter";
    src: url("~/src/assets/themes/radiolab/fonts/Matter-Heavy.woff2") format("woff2"),
        url("~/src/assets/themes/radiolab/fonts/Matter-Heavy.woff") format("woff"),
        url("~/src/assets/themes/radiolab/fonts/Matter-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
} */
/* 
@font-face {
    font-family: "Matter";
    src: url("~/src/assets/themes/radiolab/fonts/Matter-LightItalic.woff2") format("woff2"),
        url("~/src/assets/themes/radiolab/fonts/Matter-LightItalic.woff") format("woff"),
        url("~/src/assets/themes/radiolab/fonts/Matter-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
} */

@font-face {
    font-family: "Matter";
    src: url("~/src/assets/themes/radiolab/fonts/Matter-Medium.woff2") format("woff2"),
        url("~/src/assets/themes/radiolab/fonts/Matter-Medium.woff") format("woff"),
        url("~/src/assets/themes/radiolab/fonts/Matter-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* @font-face {
    font-family: "Matter";
    src: url("~/src/assets/themes/radiolab/fonts/Matter-SemiBoldItalic.woff2") format("woff2"),
        url("~/src/assets/themes/radiolab/fonts/Matter-SemiBoldItalic.woff") format("woff"),
        url("~/src/assets/themes/radiolab/fonts/Matter-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
} */

/* @font-face {
    font-family: "Matter";
    src: url("~/src/assets/themes/radiolab/fonts/Matter-HeavyItalic.woff2") format("woff2"),
        url("~/src/assets/themes/radiolab/fonts/Matter-HeavyItalic.woff") format("woff"),
        url("~/src/assets/themes/radiolab/fonts/Matter-HeavyItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
} */

/* @font-face {
    font-family: "Matter";
    src: url("~/src/assets/themes/radiolab/fonts/Matter-Light.woff2") format("woff2"),
        url("~/src/assets/themes/radiolab/fonts/Matter-Light.woff") format("woff"),
        url("~/src/assets/themes/radiolab/fonts/Matter-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
} */

@font-face {
    font-family: "Matter";
    src: url("~/src/assets/themes/radiolab/fonts/Matter-Regular.woff2") format("woff2"),
        url("~/src/assets/themes/radiolab/fonts/Matter-Regular.woff") format("woff"),
        url("~/src/assets/themes/radiolab/fonts/Matter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Matter";
    src: url("~/src/assets/themes/radiolab/fonts/Matter-RegularItalic.woff2") format("woff2"),
        url("~/src/assets/themes/radiolab/fonts/Matter-RegularItalic.woff") format("woff"),
        url("~/src/assets/themes/radiolab/fonts/Matter-RegularItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
