:root,
[data-style-mode='default'] {
    color-scheme: light;

    --white: #{map-get($colors, 'white')};
    --black: #{map-get($colors, 'black')};
    --red: #{map-get($colors, 'red')};
    --blue: #{map-get($colors, 'blue')};
    --green: #{map-get($colors, 'green')};
    --yellow: #{map-get($colors, 'yellow')};
    --orange: #{map-get($colors, 'orange')};
    --purple: #{map-get($colors, 'purple')};
    --pink: #{map-get($colors, 'pink')};

    --primary-color: #{map-get($colors, 'primary')};
    --primary-color-rgb: #{hex2rgb($primaryColor)};
    --primary-color-alt: #{$primaryColorAlt};
    --primary-color-alt-rgb: #{hex2rgb($primaryColorAlt)};
    --primary-light-color: #{$primaryLightColor};
    --primary-light-color-rgb: #{hex2rgb($primaryLightColor)};
    --primary-dark-color: #{$primaryDarkColor};
    --primary-dark-color-rgb: #{hex2rgb($primaryDarkColor)};
    --primary-darker-color: #{$primaryDarkerColor};
    --primary-darker-color-rgb: #{hex2rgb($primaryDarkerColor)};

    --shade-000: #{$shade000}; //surface
    --shade-100: #{$shade100}; //header background
    --shade-200: #{$shade200}; //hover background
    --shade-300: #{$shade300}; //border, divider
    --shade-400: #{$shade400}; //input border
    --shade-500: #{$shade500}; //input icon
    --shade-600: #{$shade600}; //text secondary color
    --shade-700: #{$shade700}; //text color
    --shade-800: #{$shade800}; //unused
    --shade-900: #{$shade900}; //unused

    --font-weight: #{$fontWeight};
    --font-weight-100: #{$fontWeight-100};
    --font-weight-200: #{$fontWeight-200};
    --font-weight-300: #{$fontWeight-300};
    --font-weight-400: #{$fontWeight-400};
    --font-weight-500: #{$fontWeight-500};
    --font-weight-600: #{$fontWeight-600};
    --font-weight-700: #{$fontWeight-700};
    --font-weight-800: #{$fontWeight-800};
    --font-weight-900: #{$fontWeight-900};

    --z-index-vanish: #{$z-index-vanish};
    --z-index-none: #{$z-index-none};
    --z-index-1: #{$z-index-1};
    --z-index-2: #{$z-index-2};
    --z-index-5: #{$z-index-5};
    --z-index-10: #{$z-index-10};
    --z-index-15: #{$z-index-15};
    --z-index-30: #{$z-index-30};
    --z-index-50: #{$z-index-50};
    --z-index-75: #{$z-index-75};
    --z-index-100: #{$z-index-100};

    --font-size-1: calc(var(--font-size-2) / var(--font-ratio));
    --font-size-2: calc(var(--font-size-3) / var(--font-ratio));
    --font-size-3: calc(var(--font-size-4) / var(--font-ratio));
    --font-size-4: calc(var(--font-size-5) / var(--font-ratio));
    --font-size-5: calc(var(--font-size-6) / var(--font-ratio));
    --font-size-6: var(--font-size);
    --font-size-7: calc(var(--font-size-6) * var(--font-ratio));
    --font-size-8: calc(var(--font-size-7) * var(--font-ratio));
    --font-size-9: calc(var(--font-size-8) * var(--font-ratio));
    --font-size-10: calc(var(--font-size-9) * var(--font-ratio));
    --font-size-11: calc(var(--font-size-10) * var(--font-ratio));
    --font-size-12: calc(var(--font-size-11) * var(--font-ratio));
    --font-size-13: calc(var(--font-size-12) * var(--font-ratio));
    --font-size-14: calc(var(--font-size-13) * var(--font-ratio));
    --font-size-15: calc(var(--font-size-14) * var(--font-ratio));
    --font-size-16: calc(var(--font-size-15) * var(--font-ratio));
    --font-size-17: calc(var(--font-size-16) * var(--font-ratio));
    --font-size-18: calc(var(--font-size-17) * var(--font-ratio));
    --font-size-19: calc(var(--font-size-18) * var(--font-ratio));
    --font-size-20: calc(var(--font-size-19) * var(--font-ratio));

    --font-family: #{$fontFamily};
    --font-family-header: #{$fontFamilyHeader};
    --text-color: #{$textColor};
    --text-color-secondary: #{$primaryColorAlt};
    --primary-text-color: #{$primaryTextColor};
    --primary-color-text: #{$primaryTextColor};
    --text-secondary-color: #{$textSecondaryColor};
    --font-size: #{$fontSize};
    --font-ratio: #{$fontRatio};
    --font-ratio-large: #{$fontRatioLarge};
    --scale-sm: #{$scaleSM};
    --scale-lg: #{$scaleLG};
    --border-radius: #{$borderRadius};
    --transition-duration: #{$transitionDuration};
    --transition-ease: #{$transitionEase};
    --form-element-transition: #{$formElementTransition};
    --action-icon-transition: #{$actionIconTransition};
    --list-item-transition: #{$listItemTransition};
    --prime-icon-font: #{$primeIconFont};
    --prime-icon-font-size: #{$primeIconFontSize};
    --divider: #{$divider};
    --inline-spacing: #{$inlineSpacing};
    --disabled-opacity: #{$disabledOpacity};
    --mask-bg: #{$maskBg};
    --loading-icon-font-size: #{$loadingIconFontSize};
    --shadow: #{$shadow};
    --maskbg: #{$maskBg};
    --content-padding: #{$panelContentPadding};

    --link-button-color: #{$linkButtonColor};
    --link-button-hover-color: #{$linkButtonHoverColor};
    --link-button-text-hover-decoration: #{$linkButtonTextHoverDecoration};
    --link-button-focus-shadow: #{$linkButtonFocusShadow};

    --focus-outline: #{$focusOutline};
    --focus-outline-offset: #{$focusOutlineOffset};
    --focus-shadow: #{$focusShadow};
    --focus-ring: #{$focusShadow};
    --tab-padding: #{$tagPadding};
    --badge-bg: #{$badgeBg};
    --badge-text-color: #{$badgeTextColor};
    --badge-font-weight: #{$badgeFontWeight};
    --badge-font-size: #{$badgeFontSize};

    --highlight-bg: #{$highlightBg};
    --highlight-text-color: #{$highlightTextColor};
}
[data-style-mode='dark'] {
    // --primary-color: var(--white);
    // --primary-color-rgb: #{hex2rgb($dangerColor)};
    /*button*/
    color-scheme: dark;
}
