@use 'sass:map';
:root {
    font-size: var(--font-size);
}

$type-header1: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-15),
            'line-height': var(--font-size-15),
            'font-weight': var(--font-weight-600),
            'letter-spacing': -0.02em,
            'color': var(--text-color),
        ),
    ),
    $medium: (
        'values': (
            'font-size': var(--font-size-10),
            'line-height': var(--font-size-10),
        ),
    ),
);
$type-header2: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-13),
            'line-height': var(--font-size-13),
            'font-weight': var(--font-weight-600),
            'letter-spacing': -0.02em,
            'color': var(--text-color),
        ),
    ),
    $medium: (
        'values': (
            'font-size': var(--font-size-10),
            'line-height': var(--font-size-10),
        ),
    ),
);
$type-header3: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-12),
            'line-height': var(--font-size-12),
            'font-weight': var(--font-weight-600),
            'letter-spacing': -0.02em,
            'color': var(--text-color),
        ),
    ),
    $medium: (
        'values': (
            'font-size': var(--font-size-9),
            'line-height': var(--font-size-9),
        ),
    ),
);
$type-header4: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-10),
            'line-height': var(--font-size-10),
            'font-weight': var(--font-weight-600),
            'letter-spacing': -0.02em,
            'color': var(--text-color),
        ),
    ),
    $medium: (
        'values': (
            'font-size': var(--font-size-7),
            'line-height': var(--font-size-7),
            'letter-spacing': -0.01em,
        ),
    ),
);

$type-header5: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-8),
            'line-height': var(--font-size-9),
            'font-weight': var(--font-weight-600),
            'letter-spacing': -0.02em,
            'color': var(--text-color),
        ),
    ),
    $medium: (
        'values': (
            'font-size': var(--font-size-6),
            'line-height': var(--font-size-7),
            'letter-spacing': -0.01em,
        ),
    ),
);

$type-header6: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-6),
            'line-height': var(--font-size-7),
            'font-weight': var(--font-weight-600),
            'letter-spacing': -0.02em,
            'color': var(--text-color),
        ),
    ),
    $medium: (
        'values': (
            'font-size': var(--font-size-5),
            'line-height': var(--font-size-6),
            'letter-spacing': -0.01em,
        ),
    ),
);

$type-header7: (
    'default': (
        'values': (
            'font-family': var(--font-family),
            'font-size': var(--font-size-6),
            'line-height': var(--font-size-8),
            'font-weight': var(--font-weight-500),
            'color': var(--text-color),
        ),
    ),
    $medium: (
        'values': (
            'font-size': var(--font-size-5),
            'line-height': var(--font-size-7),
        ),
    ),
);

$type-title: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-5),
            'line-height': var(--font-size-7),
            'font-weight': var(--font-weight-600),
            'color': var(--text-color),
            'letter-spacing': 0.05em,
            'text-transform': uppercase,
        ),
    ),
    $medium: (
        'values': (
            'font-size': var(--font-size-3),
            'line-height': var(--font-size-4),
        ),
    ),
);

$type-paragraph1: (
    'default': (
        'values': (
            'font-family': var(--font-family),
            'font-size': var(--font-size-6),
            'line-height': var(--font-size-9),
            'font-weight': var(--font-weight),
            'color': var(--text-color),
        ),
    ),
    $medium: (
        'values': (
            'font-size': var(--font-size-5),
            'line-height': var(--font-size-8),
        ),
    ),
);

$type-paragraph2: (
    'default': (
        'values': (
            'font-family': var(--font-family),
            'font-size': var(--font-size-6),
            'line-height': var(--font-size-9),
            'font-weight': var(--font-weight),
            'color': var(--text-color),
        ),
    ),
    $medium: (
        'values': (
            'font-size': var(--font-size-5),
            'line-height': var(--font-size-8),
        ),
    ),
);
$type-paragraph3: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-6),
            'line-height': var(--font-size-9),
            'font-weight': var(--font-weight),
            'color': var(--text-color),
        ),
    ),
    $medium: (
        'values': (
            'font-size': var(--font-size-5),
            'line-height': var(--font-size-8),
        ),
    ),
);

$type-label1: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-10),
            'line-height': var(--font-size-10),
            'font-weight': var(--font-weight),
            'color': var(--text-color),
            'letter-spacing': -0.01em,
            'text-transform': uppercase,
        ),
    ),
    $medium: (
        'values': (
            'font-size': var(--font-size-5),
            'line-height': var(--font-size-5),
        ),
    ),
);

$type-label2: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-7),
            'line-height': var(--font-size-7),
            'font-weight': var(--font-weight),
            'color': var(--text-color),
            'letter-spacing': -0.01em,
            'text-transform': uppercase,
        ),
    ),
    $medium: (
        'values': (
            'font-size': var(--font-size-5),
            'line-height': var(--font-size-5),
        ),
    ),
);

$type-label3: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-6),
            'line-height': var(--font-size-6),
            'font-weight': var(--font-weight),
            'color': var(--text-color),
            'letter-spacing': -0.01em,
            'text-transform': uppercase,
        ),
    ),
    $medium: (
        'values': (
            'font-size': var(--font-size-5),
            'line-height': var(--font-size-5),
        ),
    ),
);

$type-link: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-5),
            'line-height': 15.4px,
            'font-weight': var(--font-weight-500),
            'color': var(--text-color),
            'text-decoration': none,
        ),
    ),
);
$type-listlink: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-7),
            'line-height': var(--font-size-7),
            'font-weight': var(--font-weight-500),
            'color': var(--text-color),
            'letter-spacing': -0.01em,
            'text-transform': uppercase,
        ),
    ),
    $medium: (
        'values': (
            'font-size': var(--font-size-6),
            'line-height': var(--font-size-6),
        ),
    ),
);
$type-textlink1: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-5),
            'line-height': var(--font-size-6),
            'font-weight': var(--font-weight-500),
            'color': var(--text-color),
            'text-decoration': underline,
        ),
    ),
);

$type-textlink2: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': 13px,
            'line-height': var(--font-size-6),
            'font-weight': var(--font-weight),
            'color': var(--text-color),
            'text-decoration': underline,
        ),
    ),
);

$type-caption: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': 13px,
            'line-height': var(--font-size-7),
            'font-weight': var(--font-weight),
            'color': var(--text-color),
        ),
    ),
);

$type-fineprint: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': 12px,
            'line-height': var(--font-size-6),
            'font-weight': var(--font-weight),
            'color': var(--text-color),
        ),
    ),
    $medium: (
        'values': (
            'font-size': 11px,
            'line-height': var(--font-size-5),
        ),
    ),
);

h1,
.h1,
.type-header1 {
    @include font-config($type-header1);
}

h2,
.h2,
.type-header2 {
    @include font-config($type-header2);
}

h3,
.h3,
.type-header3 {
    @include font-config($type-header3);
}

h4,
.h4,
.type-header4 {
    @include font-config($type-header4);
}

h5,
.h5,
.type-header5 {
    @include font-config($type-header5);
}

h6,
.h6,
.type-header6 {
    @include font-config($type-header6);
}

h7,
.h7,
.type-header7 {
    @include font-config($type-header7);
}

.type-title {
    @include font-config($type-title);
}

p,
.p1,
.type-paragraph1 {
    @include font-config($type-paragraph1);
}

.p2,
.type-paragraph2 {
    @include font-config($type-paragraph2);
}

.p3,
.type-paragraph3 {
    @include font-config($type-paragraph3);
}

.type-label1 {
    @include font-config($type-label1);
}
.type-label2 {
    @include font-config($type-label2);
}
.type-label3 {
    @include font-config($type-label3);
}
.type-link {
    @include font-config($type-link);
}
.type-listlink {
    @include font-config($type-listlink);
}
.type-textlink1 {
    @include font-config($type-textlink1);
}
.type-textlink2 {
    @include font-config($type-textlink2);
}
.type-caption {
    @include font-config($type-caption);
}
.type-fineprint {
    @include font-config($type-fineprint);
}

ul,
ol {
    padding-left: 1rem;
    li {
        @include font-config($type-paragraph1);
    }
}
